#aboutUs,#experiences{
    color: #5E8FC7;
    font-weight: bold;
    padding-left: 100px;
    padding-top:85px;
}
#homeText,#products,#login{
    color:#2A7E19;
    font-weight: bold;
    padding-left: 100px;
    padding-top: 85px;    
}