.carousel-inner {
  width: 80% !important;
  margin: auto !important;
  height: 400px !important;
}

experiencesh1 {
  text-align: center !important;
  margin-top: 20px;
.footerContainer {
    background-color: #A3D1AB;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 30%;
}

.contactUs ul  {
    list-style-type: none;
    gap: 10px
}

.company ul  {
    list-style-type: none;
    gap: 10px
}

.decorative-line {
    height: 1px;
    background: black;
}

.copyright {
    background-color: #A3D1AB;
    text-align: center;
    font-size: small;
    font-style: italic;
    padding: 8px;
}

.bestSeller__container {
  color: #2a7e19;
  text-align: center;
  font-family: "Montserrat";
}

.img-wrapper {
  max-width: 100% !important;
  height: 20em !important;
  display: flex;
  justify-content: center !important;
}

.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    display: block !important;
    margin-right: 0 !important;
    margin: 0 auto !important;
    /* flex: 0 0 calc(70% / 3) !important; */
  }
}

.carousel-inner {
  padding: 1em;
  width: 70% !important;
  margin: 0 auto !important;
}

.card {
  margin: 0.5em;
}
#aboutUs,#experiences{
    color: #5E8FC7;
    font-weight: bold;
    padding-left: 100px;
    padding-top:85px;
}
#homeText,#products,#login{
    color:#2A7E19;
    font-weight: bold;
    padding-left: 100px;
    padding-top: 85px;    
}
